<%= flash[:notice] %>
<h1><%= @post.title %></h1>
<p><%= @post.body %></h1></p>
<p><%= link_to 'Edit Post', edit_post_path(@post) %></p>
<p><%= link_to 'Delete', @post, :confirm => 'Select OK to delete.', :method => :delete %></p>

<p><%= link_to 'Add Comment', new_post_comment_path(@post) %></p>


<p><%= link_to "Index", posts_path %></p>